@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

/* --------------------------- */
/* -------- CSS Reset -------- */
/* --------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

body,
h1,
h2,
p {
    margin: 0;
}

label,button {
    font: inherit;
}

/* -------- Normal CSS -------- */

body {
    color: rgb(182, 182, 182);
    font-family: 'Quicksand', sans-serif;
    background-color: hsl(0, 0%, 13%);
}

.container {
    width: 90%;
    margin-inline: auto;
    padding-block: 150px;
}

.title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin-bottom: .5rem;
    color: rgb(182, 182, 182);
}

.form-container {
    margin: 0 auto;
    width: min(95%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordForm {
    background-color: hsl(0, 0%, 27%);
    padding: 1.5rem;
    font-weight: 500;
    max-width: 350px;
}


.password {
    font-size: 2rem;
    text-align: center;
    min-width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border: none;
    color: aliceblue;
    background-color: hsl(0, 0%, 27%);
}

.amountContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.amountContainer label {
    margin-bottom: .5em;
}

.amount {
    width: 2rem;
    padding: .5em;
    border-radius: .3em;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.input-grid {
    display: grid;
    grid-template-columns: 2.4rem auto;
    row-gap: .6rem;
}

.strength {
    margin-block: 1rem;
    padding: 1rem;
}

.generate-btn {
    width: 100%;
    padding: .5rem 1rem;
    background-color: rgb(164,254,176);
    border: none;
}

.generate-btn:hover {
    box-shadow: 0 0 7px rgb(90, 251, 112);
    text-shadow: 0 0 10px rgb(170, 245, 185);
}

.warning {
    color: red;
    padding-inline: .5rem;
    opacity: 0;
}

.warning.active {
    opacity: 1;
}

